@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

.light {
  --bg: 255 255 255;
  --text: 17 24 39;
  --border: 229 231 235;
  --hover: 216, 216, 216;   
}

.dark {
  --bg: 17 24 39;
  --text: 243 244 246;
  --border: 55 65 81;
  --hover: 77 77 77;  
  color-scheme: dark;
}


body {
  background-color: rgb(var(--bg));
  color: rgb(var(--text));
  font-size: 24px;
}
*{
  font-size: 20px;
}

.menuItem:hover{
  border-bottom: 2px solid rgb(var(--hover));
  font-size: 110%;
}
 .btn:hover{
  transform: scale(1.1);
  cursor:pointer;
 }

option{
  background-color: rgb(var(--bg));
  color: rgb(var(--text));
}